<header id="head" class="secondary"></header>
<div ng-app="ContactModule" class="container" ng-controller="ContactController">
    <ol class="breadcrumb">
        <li></li>
    </ol>
    <div class="row">

        <!-- Article main content -->
        <article class="col-sm-9 maincontent">
            <header class="page-header">
                <h1 class="page-title">Contact us</h1>
            </header>

            <p>
                I would love to hear from you. Fill out the simple form below and I will contact you as soon as possible.
            </p>
            <br>
            <form ng-submit="submitContactForm()" id="contact-form" name="contact">
                <div class="row">
                    <div class="col-sm-4">
                        <input class="form-control" type="text" placeholder="Name" ng-model="contactForm.name">
                    </div>
                    <div class="col-sm-4">
                        <input class="form-control" type="text" placeholder="Email" ng-model="contactForm.email">
                    </div>
                    <div class="col-sm-4">
                        <input class="form-control" type="text" placeholder="Phone" ng-model="contactForm.phone">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-12">
                        <textarea placeholder="Type your message here..." class="form-control" rows="9" ng-model="contactForm.message"></textarea>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-6">
                        <!--<label class="checkbox"><input type="checkbox"> Sign up for newsletter</label>-->
                    </div>
                    <div class="col-sm-6 text-right">
                        <button class="btn btn-primary btn-lg btn-block" type="submit">
                            <span ng-show="!contactForm.loading">Submit Message</span>
                            <span class="overload-loading-spinner fa fa-spinner" ng-show="contactForm.loading"></span>
                            <span ng-show="contactForm.loading">Sending your message...</span>
                        </button>
                    </div>
                </div>
            </form>

        </article>
        <!-- /Article -->

        <!-- Sidebar -->
        <aside class="col-sm-3 sidebar sidebar-right">

            <div class="widget">
                <!--<h4>Address</h4>-->
                <!--<address>-->
                    <!--2002 Holcombe Boulevard, Houston, TX 77030, USA-->
                <!--</address>-->
                <!--<h4>Phone:</h4>-->
                <!--<address>-->
                    <!--(713) 791-1414-->
                <!--</address>-->
            </div>

        </aside>
        <!-- /Sidebar -->

    </div>
</div>
<section class="container-full top-space">
    <div id="map"></div>
</section>