<!-- Header -->
<header id="head">
  <div class="container">
    <div class="row">
      <h1 class="lead">AWESOME!</h1>
    </div>
  </div>
</header>
<!-- /Header -->
<div class="container">
  <div class="row">
    <h1>Home Page</h1>
  </div>
</div>
