<!-- Header -->
<header id="head">
  <div class="container">
    <div class="row">
      <h1 class="lead"></h1>
    </div>
  </div>
</header>
<!-- /Header -->
<div class="container">

  <div class="blog-header">
    <h1 class="blog-title">Hello, I am John H Goode!</h1>
    <p class="lead blog-description">Officially WIP (always)</p>
  </div>

  <div class="row">

    <div class="col-sm-8 blog-main">

      <div class="blog-post">
        <p>I am an web application developer from Raleigh, NC and currently employed at Verizon. This is my personal web site. I also have a blog at <a href="http://blog.johnhgoode.com">blog.johnhgoode.com</a>.</p>
        <p>My first line of code (Basic) was entered on a Commodore 64, like many kids in 1983. I soon started coding SBasic on my father's Kaypro II, a CP/M machine. </p>
        <div style="text-align: center; margin-top: 40px; margin-bottom: 40px;">
          <img src="/images/kayproII.png">
          <p>Kaypro II - 1984</p>
        </div>
        <p>The Kaypro II got me really started to learn to how program. I took two years of programming in High school. The second year, we learned how to program using Pascal. This course really got me interested in programming technique and algorithms. It was fairly advanced for the time (1984). Since the class was using Pascal on the Apple II/e, our teacher recommended Borland's Turbo Pascal 1.0 if we had PC's. Keep in mind, this was 1984. Not many people owned PC's. Fortunately, I saved up for my first PC (a Corona PC) before the school year.</p>
        <div style="text-align: center; margin-top: 40px; margin-bottom: 40px;">
          <img src="/images/PC-CORONA.jpg">
          <p>Corona PC - 1984</p>
        </div>

        <p>My Corona was a workhorse (relatively). It got me through University (term papers, homework, etc.)</p>

      </div>
    </div><!-- /.blog-main -->

    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
      <div class="sidebar-module sidebar-module-inset">
        <div style="text-align: center"><h4>Currently Reading</h4></div>

        <div style="text-align: center; margin-bottom: 10px;">
           <img src="/images/jedi_order_4.png" />
           <p>Hero's Trial</p>
        </div>
        <div style="text-align: center; margin-bottom: 10px;">
          <img src="/images/pro_angular_js.png" />
          <p>Pro AngularJs</p>
        </div>
      </div>

    </div><!-- /.blog-sidebar -->

  </div><!-- /.row -->

</div><!-- /.container -->
